:root {
  --main-text-color: #303030;
  --main-title-color: #868585;
  --hover-color: #a9a32a;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans";
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.hero-section {
  background-image: url("../images/bg.jpg");
  padding-top: 70px;
  padding-bottom: 28px;
  text-align: center;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;

}
.logo {
  opacity: 0;
  transition: all 1.8s ease 0s;
}
.logo.active {
  opacity: 1;
}
.hero-supertitle {
  color: #fff;
  font-size: 18px;
  line-height: normal;
  margin-bottom: -5px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 2s ease 0s;
}
.hero-supertitle.active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.hero-title,
.hero-subtitle {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 2s ease 0.4s;
}
.hero-title.active,
.hero-subtitle.active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.hero-subtitle {
  font-size: 42px;
  font-weight: 700;
  font-variant: normal;
  margin-bottom: 50px;
}
.signbtn,
.signbtn1 {
  width: 100px;
  height: 100px;
  position: relative;
  left: -120px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-bottom: 250px;
  transition: all 0.3s;
}
.signbtn1 {
  border: 2px solid #000;
  left: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signbtn:hover,
.signbtn1:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}
.signbtn-img {
  position: absolute;
  top: 40px;
  left: 28px;
}
.signbtn-signature {
  color: #fff;
  position: relative;
  bottom: 290px;

  transform: translate(120%, 0px);
  transition: all 2s ease 0.6s;
}
.signbtn-signature.active {
  transform: translate(0px, 0px);
}
.social-network-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  transform: translate(0px, 220%);
  transition: all 2s ease 0.8s;
}
.social-network-list.active {
  transform: translate(0px, 0px);
}

.services {
  padding: 150px 0;
}
.img-flex-container {
  display: flex;
  gap: 90px;
}
.services-title {
  color: var(--main-title-color);
  font-size: 24px;
  line-height: normal;
  margin-bottom: 60px;

  transform: translateX(-120%);
  transition: all 2s ease 0s;
}
.services-title.active,
.services-ul.active {
  transform: translateX(0px);
}
.services-ul {
  display: flex;
  flex-direction: column;
  gap: 50px;
  transform: translateX(-220%);
  transition: all 2s ease 0s;
}
.services-ul-item-title,
.services-ul-item-signature,
.advantages-item-title,
.advantages-item-signature,
.green-tariff-descr,
.info-title,
.info-signature,
.five-list-item-title,
.five-list-item-signature {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: normal;
  margin-bottom: 15px;
}
.advantages-item-title {
  margin-bottom: 5px;
}
.services-ul-item-signature,
.advantages-item-signature,
.info-signature,
.five-list-item-signature {
  font-size: 14px;
  font-weight: 400;
}
.services-img {
  transform: translateX(220%);
  transition: all 2s ease 0s;
}
.services-img.active {
  transform: translateX(0px);
}

.green-tariff {
  padding-bottom: 150px;
}
.nav-ul {
  display: flex;
  gap: 40px;
  opacity: 0;
  transition: all 2s ease 1s;
}
.nav-ul.active {
  opacity: 1;
}
.green-flex-container {
  display: flex;
  flex-direction: row;
  gap: 65px;
}
.slider-advantages {
  width: 558px;
}
.nav-ul-item {
  margin-bottom: 120px;
}
.nav-ul-item-sale {
  border-bottom: 1px solid var(--main-text-color);
}
.slider {
  display: flex;
  gap: 40px;
  opacity: 0;
  transition: all 2s ease 1.6s;
}
.slider.active {
  opacity: 1;
}
.slider-flex-container {
  display: flex;
  flex-direction: column;
  gap: 86px;
}
.arrow-flex-container,
.swiper-flex-container {
  display: flex;
  gap: 22px;
}
svg {
  fill: var(--main-text-color);
  transition: 0.3s;
}
svg:hover {
  fill: var(--hover-color);
  cursor: pointer;
}
.advantages-ul {
  width: 510px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 17px;
  column-gap: 40px;
  margin-top: 100px;
}
.a1,
.a2,
.a3,
.a4 {
  opacity: 0;
}
.a1 {
  transition: all 2s ease 2s;
}
.a2 {
  transition: all 2s ease 2.4s;
}
.a3 {
  transition: all 2s ease 2.8s;
}
.a4 {
  transition: all 2s ease 3.2s;
}
.a1.active,
.a2.active,
.a3.active,
.a4.active {
  opacity: 1;
}
.green-tariff-descr {
  align-self: flex-start;
  margin-bottom: 17px;
  transform: translateX(220%);
  transition: all 2s ease 3.4s;
}
.green-tariff-descr.active,
.descr-img.active {
  transform: translateX(0px);
}
.descr-img {
  transform: translateX(220%);
  transition: all 2s ease 3.8s;
}
.descr-div {
  width: 578px;
}

.quote {
  background-image: url("../images/quote-bg.jpg");
  padding-top: 128px;
  padding-bottom: 144px;
}
.quote > .container {
  text-align: center;
}
.quote-title {
  color: #fff;
  font-size: 42px;
  font-weight: 400;
  line-height: normal;
}

.our-clients {
  padding: 150px 0;
}
.flex-flex-flex-container {
  display: flex;
  gap: 91px;
}
.swiper-flex-container {
  width: 600px;
  justify-content: center;
  margin-top: 32px;
}
.info-ul {
  padding-left: 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.svg,
.svg:hover {
  fill: var(--main-text-color);
}
.slider-signbtn-signature {
  position: relative;
  top: -40px;
  left: 50px;
}

.five-steps > .container {
  display: flex;
  gap: 50px;
}
@counter-style numbers-not-point {
  system: fixed;
  symbols: "01" "02" "03" "04" "05" "06" "07" "08" "09" "10" "11" "12" "13";
  suffix: " ";
}
ol {
 list-style-type: numbers-not-point;
 display: flex;
 flex-direction: column;
 gap: 60px;
 padding: 0 15px;
}
::marker {
  color: var(--main-title-color);
  font-size: 14px;
  position: absolute;
  top: -20px;
}
.five-list-item-title,
.five-list-item-signature {
  position: relative;
  left: -20px;
  margin: 0;
}
.five-list-item-title {
  margin-top: 11px;
}

.main-footer {
  background-image: url('../images/footer-bg.png');
  padding-top: 70px;
  padding-bottom: 50px;
  background-size: cover;
}
.flex-flex-flex-flex-container {
  display: flex;
  gap: 91px;
}
.form-title,
.contacts-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}
form {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-top: 50px;
  max-width: 510px;
}
.form-footer-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 510px;
}
.form-footer-input::placeholder,
.form-footer-input {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.form-footer-input:focus {
  outline: none;
}
.contacts-signbtn-signature {
  color: #fff;
  position: relative;
  top: -90px;
  left: 50px;
}
.contacts,
.contacts > .container  {
  max-width: 600px;
}
.add {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 60px;
  max-width: 600px;
}
.contacts-item {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.flex-flex-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  max-width: 600px;

}
.footer {
  padding-top: 150px;
}
.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.privacy-policy {
   color: #fff;
}